/* 
	Color Definitions 
*/

$red: 			#ff0000;
$green: 		#00ff00;
$blue: 			#0000ff;
$black: 		#000000;
$white: 		#ffffff;
$darkgrey:		#333333;
$middlegrey:	#888888;
$middlegrey:	#bbbbbb;
$richyellow:	#999900;
$dimyellow:		#bbbb00;


/* 
	Font Definitions
*/

$font_lato:			Lato;
$font_arial:		Arial;
$font_helvetica:	'Helvetica';
$font_sans_serif:	sans-serif;





