<?php
    //
    // Global Constants
    //
    define("RELEASE",           true);
    define("WEBSITEVERSION",    "2.0");
    define("BUILDNUMBER",       "20170406124128");
    define("LASTUPDATED",       "April 6, 2017");
    define("COMPANYNAME",       "Kohd &amp; Art");
    define("COMPANYNAME_NOHTML","Kohd & Art");
    define("ADDRESS",           "Suite 307 - 1675 West 12th Ave., Vancouver, BC, Canada V6J2E3");
    define("PHONE",             "By Request Only");
    define("EMAIL",             "hello@kohd.co");
    define("EMAIL_OBFUSCATED",  "&#104;&#101;&#108;&#108;&#111;&#064;&#107;&#111;&#104;&#100;&#046;&#099;&#111;");
    define("URL",               "http://www.kohd.co");
    define("AUTHOR",            "G. Gagnaux");
    define("COPYRIGHT",         "Copyright &copy; 2016,2017 - ".COMPANYNAME);
    define("ABOUTCOMPANY",      COMPANYNAME." is a full service software development and creative services company.  Core competencies include Microsoft .NET development, SQL Server development, product and portraiture photography, retouching and illustrative work.");
    define("HTMLHEADERTITLE",   "Software Development and Creative Services");
    define("SEO_PAGEDESCRIPTION", COMPANYNAME_NOHTML." - ".HTMLHEADERTITLE." - Microsoft ASP.NET,MVC,SQL Server,C#,Portrait and Product Photography,Retouching,Graphic Design,Fine Art");
    define("CAROUSELDELAY",     5000);
    define("VGFOTONAME",        "Vincent Gagnaux Photography");
    define("VGFOTOURL",         "http://www.vgfoto.com");

    // Social Media Links
    define("SOCIAL_TWITTER_GGAGNAUX", "https://twitter.com/ggagnaux");
    define("SOCIAL_TWITTER_KOHDANDART", "https://twitter.com/kohdandart");
    define("SOCIAL_FACEBOOK_GGAGNAUX", "https://www.facebook.com/ggagnaux");
    define("SOCIAL_FACEBOOK_KOHDANDART", "https://www.facebook.com/kohdandart");
    define("SOCIAL_LINKEDIN_GGAGNAUX", "https://www.linkedin.com/in/ggagnaux");
    define("SOCIAL_INSTAGRAM_GGAGNAUX", "https://www.instagram.com/ggagnaux");
    define("SOCIAL_BEHANCE_VGFOTO", "https://www.behance.net/vgfoto");
    define("SOCIAL_GITHUB_GGAGNAUX", "https://github.com/ggagnaux/");

    //
    // SMTP Contants
    //
    define("SMTP_HOST",         "smtp.gmail.com");
    define("SMTP_PORT",         "587");
    define("SMTP_SECURE",       "tls");
    define("SMTP_AUTH",         true);
    define("SMTP_USERNAME",     "[SMTP_USERNAME]");
    define("SMTP_PASSWORD",     "[SMTP_PASSWORD]"); // Generated by Google
    define("SMTP_ADDRESSEMAIL", "[EMAIL_ADDRESS]");
    define("SMTP_ADDRESSNAME",  "NAME" );

    // Enable SMTP debugging
    // 0 = off (for production use)
    // 1 = client messages
    // 2 = client and server messages
    define("SMTP_DEBUG", 0);

    //
    // Recaptcha Secret Key
    //
    define("RECAPTCHA_SECRET_KEY",  "[RECAPTCHA_SECRET_KEY_HERE]-");
    define("VERIFICATION_URL",      "https://www.google.com/recaptcha/api/siteverify?secret=[SECRETKEY]&response=[RESPONSE]");


    // Folder where WordPress blog is located
    define('FOLDER_BLOG', '_blog');


    //
    // Define the Carousel Items
    //
    $g_CarouselItems[] = new CarouselItem("Welcome to Kohd &amp; Art",
                                        "Software Development &amp; Creative Services",
                                        true,
                                        "Learn More...",
                                        "services.php",
                                        "img/slides/1.jpg");

    $g_CarouselItems[] = new CarouselItem("Software Development",
                                        "We have 15+ years experience developing desktop and web applications for the Microsoft platform!",
                                        true,
                                        "Learn More...",
                                        "services.php#software",
                                        "img/slides/2.jpg");

    $g_CarouselItems[] = new CarouselItem("Database Design and Development",
                                        "We are also Microsoft Certified Professionals for SQL Server!",
                                        true,
                                        "Learn More...",
                                        "services.php#database",
                                        "img/slides/3.jpg");

    $g_CarouselItems[] = new CarouselItem("Photography",
                                        "We have 5+ years photographic experience, specializing in portraiture and product photography!",
                                        true,
                                        "Learn More...",
                                        "services.php#photography",
                                        "img/slides/4.jpg");

    $g_CarouselItems[] = new CarouselItem("Retouching/Post-Production",
                                        "In addition to our photographic experience, we are also adept a retouching and other post-production!",
                                        true,
                                        "Learn More...",
                                        "services.php#retouching",
                                        "img/slides/5.jpg");

    $g_CarouselItems[] = new CarouselItem("Illustrative work\Digital Art",
                                        "Sometimes we have to create images out of thin air!",
                                        true,
                                        "Learn More...",
                                        "services.php#illustrations",
                                        "img/slides/6.jpg");

    $g_CarouselItems[] = new CarouselItem("Well, what are you waiting for?",
                                        "Contact us today for a free quote on your next project!",
                                        true,
                                        "Contact Us!",
                                        "contact-us.php",
                                        "img/slides/7.jpg");


    //
    // Project Details
    //


    // id = 1
    $g_ProjectItems[] = new ProjectItem("Web Development/Project Management",                   // Title
                                        "Various",                                              // Client
                                        "Prior to founding Kohd & Art, our founder served as Director of Web Application development at Quartz Imaging Corporation in Vancouver, BC.
                                        &nbsp;During his time there, Greg was intimately involved in the development, maintenance and management of their flagship product 'Quartz FA-LIMS'.
                                        &nbsp;This web-based system is currently used by many companies including IBM, AMD, Inotera Memories, US Army and others.",                                // Description
                                        "ASP.NET, Javascript, Visual Studio, SQL Server, Others", // Technologies Used
                                        "img/portfolio/external.jpg",                           // Image
                                        "");                                                    // URL (if available)

    // id = 2
    $g_ProjectItems[] = new ProjectItem("Web Development",                                      // Title
                                        "Just Woodies - Custom Auto Woodwork",                                         // Client
                                        "This is a project originally implemented back in the days before proper CSS layouts!  
                                        Recently we had the opportunity to do some fairly major updates to the site.  
                                        Due to hosting restrictions we weren't able to rebuild the site with any kind of 
                                        dynamic framework (ASP, PHP, etc.) so instead we implemented dynamic elements in Javascript.  
                                        The basic layout wasn't changed very much but the site is much better than the original
                                        implementation!  Please click on the 'Go to site' button below to view the website.",                                       // Description Paragraph 1
                                        "HTML, CSS, Javascript, JQuery",                        // Technologies Used
                                        "img/portfolio/justwoodies.jpg",                        // Image
                                        "http://www.justwoodies.com");                          // URL (if available)
    // id = 3
    $g_ProjectItems[] = new ProjectItem("Application Development",                              // Title
                                        "Internal Project",                                     // Client
                                        "This is a Microsoft <a target=\"_new\" href=\"https://msdn.microsoft.com/en-us/library/aa970268%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396\">WPF</a> (Windows Presentation Foundation) based application written in C#.
                                        It was developed to streamline the transfer of images from various removable media to long-term storage.  The application utilizes 
                                        asynchronous programming techniques to ensure that it remains responsive at all times!",                   // Description
                                        "Visual Studio 2015, C#, WPF",                          // Technologies Used
                                        "img/portfolio/mediatransferutility.jpg",               // Image
                                        "");                                                    // URL (if available)
    // id = 4
    $g_ProjectItems[] = new ProjectItem("Product Photography",                                  // Title
                                        "Chris Latvala",                                        // Client
                                        "This project was done in-studio.  The client was selling his high-end gear and
                                        needed some very detailed and well-lit images.  There were some technical challenges with this project
                                        but they were resolved and he was more than pleased with the results.  Please click on the 'Go to site' button below to go there.",                                // Description
                                        "Photography, Studio Lighting, Retouching",        // Technologies Used
                                        "img/portfolio/gibsonguitars.jpg",                      // Image
                                        "http://kohd.co/art/products/");                               // URL (if available)
    // id = 5
    $g_ProjectItems[] = new ProjectItem("Portrait Photography",                                 // Title
                                        "Collaboration",                                        // Client
                                        "Crafting beautiful images is one of our passions!  We are very experienced in location as well as studio photography.&nbsp;
                                        We utilize the latest techniques to ensure the final images are beyond your expectations!  Please click on the 'Go to site' button below to 
                                        view examples of our work.",                                // Description
                                        "Photography, Studio Lighting, Retouching",             // Technologies Used
                                        "img/portfolio/model1.jpg",                             // Image
                                        "http://kohd.co/art/people/");                          // URL (if available)

    // id = 6
    $g_ProjectItems[] = new ProjectItem("Illustrative Work",                                    // Title
                                        "Internal Project",                                     // Client
                                        "This was a self-assigned project.  The challenge here was to produce an illustration 
                                        that could be mistaken for a photograph.  I'll leave it up to the viewer to decide if we succeeded or not!  
                                        &nbsp;More examples of this type of work can be viewed on our other website. Please click on the 'Go to site' button below to go there.",     // Description
                                        "Adobe Photoshop and Illustrator",                      // Technologies Used
                                        "img/portfolio/illustration.jpg",                       // Image
                                        "http://kohd.co/art/objects/");                               // URL (if available)

    /*
        List of menu item names:
    */
    define("MENUITEM_INDEX",    "index");
    define("MENUITEM_SERVICES", "services");
    define("MENUITEM_PORTFOLIO","portfolio");
    define("MENUITEM_ABOUT",    "about");
    define("MENUITEM_BLOG",     "blog");
    define("MENUITEM_LINKS",    "links");
    define("MENUITEM_CONTACT",  "contact");


    // Menu Item Type
    define("MENUITEMTYPE_PAGELINK", "pagelink");
    define("MENUITEMTYPE_SUBMENU",  "submenu");

    define("ENABLED", true);
    define("DISABLED", false);
    define("VISIBLE", true);
    define("HIDDEN", false);


    define("LINKTARGET_LOCAL", "local");
    define("LINKTARGET_EXTERNAL", "external");

    //
    // Menu Items 
    //
    $g_MenuItems[] = new MenuItem(ENABLED,             
                                  VISIBLE,              
                                  MENUITEM_INDEX,       // name
                                  MENUITEMTYPE_PAGELINK,   // type
                                  "Home",       // label
                                  "index.php",  // url
                                  LINKTARGET_LOCAL, // Open in same window or new window
                                  ""            // submenu items
                                  );  

    $g_MenuItems[] = new MenuItem(ENABLED,             
                                  VISIBLE,
                                  MENUITEM_SERVICES,      // name
                                  MENUITEMTYPE_PAGELINK,   // type
                                  "Services",       // label
                                  "services.php",  // url
                                  LINKTARGET_LOCAL, // Open in same window or new window
                                  ""            // submenu items
                                  );  


    $g_MenuItems[] = new MenuItem(ENABLED,             
                                  VISIBLE,
                                  MENUITEM_PORTFOLIO,      // name
                                  MENUITEMTYPE_PAGELINK,   // type
                                  "Portfolio",       // label
                                  "portfolio.php",  // url
                                  LINKTARGET_LOCAL, // Open in same window or new window
                                  ""            // submenu items
                                  );  

    $g_MenuItems[] = new MenuItem(ENABLED,             
                                  VISIBLE,
                                  MENUITEM_ABOUT,      // name
                                  MENUITEMTYPE_PAGELINK,   // type
                                  "About",       // label
                                  "about-us.php",  // url
                                  LINKTARGET_LOCAL, // Open in same window or new window
                                  ""            // submenu items
                                  );  

    $g_MenuItems[] = new MenuItem(ENABLED,             
                                  VISIBLE,
                                  MENUITEM_BLOG,      // name
                                  MENUITEMTYPE_PAGELINK,   // type
                                  "Blog",       // label
                                  //"blog.php",  // url
                                  "http://kohd.co/_blog/",  // url
                                  LINKTARGET_EXTERNAL, // Open in same window or new window
                                  ""            // submenu items
                                  );  
    
    $g_MenuItems[] = new MenuItem(ENABLED,             
                                  VISIBLE,
                                  MENUITEM_CONTACT,      // name
                                  MENUITEMTYPE_PAGELINK,   // type
                                  "Contact",       // label
                                  "contact-us.php",  // url
                                  LINKTARGET_LOCAL, // Open in same window or new window
                                  ""            // submenu items
                                  );

    // Sub-menu item(s) for links menu                              
    $subMenuItem1 = new MenuItem(ENABLED,             
                                 VISIBLE,
                                 "",    // name
                                 MENUITEMTYPE_PAGELINK, // type 
                                 "Vincent Gagnaux Photography", // label
                                 "http://www.vgfoto.com", // url
                                  LINKTARGET_LOCAL, // Open in same window or new window
                                 "");   // submenu items

    $g_MenuItems[] = new MenuItem(ENABLED,             
                                  VISIBLE,
                                  MENUITEM_LINKS,      // name
                                  MENUITEMTYPE_SUBMENU,   // type
                                  "Links",  // label
                                  "",       // url
                                  "", 
                                  array($subMenuItem1)        // submenu items            
                                  );  
                                    
?>

